[group:proxy]
programs={{ server_names | join(',') }}

{% for name in server_names %}
[program:{{ name }}]
directory={{ remote_server_dir }}
command={{ remote_server_dir }}/{{ name }} unix://{{ name }}.sock
autostart=true
autorestart=true
startsecs=5
startretries=3

{% endfor %}
[program:haproxy]
command=/usr/sbin/haproxy -f /etc/haproxy/haproxy.cfg -n 50000 -N 50000
autostart=true
autorestart=true
startsecs=15
startretries=3

[program:memcached]
command=/usr/bin/memcached -u memcache -l 127.0.0.1 -m 512
autostart=true
autorestart=true
startsecs=3
startretries=3
