global
    maxconn 65535
    log /dev/log local0 info

    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    ssl-default-bind-options no-sslv3 no-tls-tickets force-tlsv12
    ssl-default-bind-ciphers EECDH+AESGCM:EDH+AESGCM
    tune.ssl.default-dh-param 2048

defaults
    mode    tcp
    option  tcplog
    log     global
    timeout connect 30s
    timeout client  1m
    timeout server  1m

backend proxy-backend
    balance leastconn
    server proxy1 127.0.0.1:4000 check

frontend default-frontend
    bind *:8088
    default_backend proxy-backend

frontend https-frontend
    bind *:443 ssl crt /etc/haproxy/haproxy.pem ciphers EECDH+AESGCM:EDH+AESGCM force-tlsv12 no-sslv3
    default_backend proxy-backend
